@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 
@import "tailwindcss";

@theme {
  --color-contrast-color: #404040;
  --color-primary-color: #F68121;
  --color-secondary-color: #FF9F4D;
  --color-success-color: #4CAF50;
  --color-error-color: #F44336;

  --font-poppins: "Poppins", sans-serif;
}